.advantages {
    padding: 38px 0 75px 0;
    &__title {
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 58.09px;
        letter-spacing: 0.02em;
        text-align: center;
        border-bottom: 1px solid #EF7B00;
        max-width: 854px;
        margin: 0 auto;
    }
    &__content {
        position: relative;
        min-height: 988px;
    }
    &__circle {
        position: absolute;
        width: 300px;
        height: 300px;
        border: 6px dashed #000 ;
        opacity: 0px;
        background-color: #EF7B00;
        border-radius: 100%;
        padding: 74px 53px;
        left: 50%;
        top: 41%;
        transform: translateX(-50%) translateY(-50%);        
        &-info {
            width: 100%;
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 46px;
            text-align: center;        
        }
    }
    &__trait, &__trait-2, &__trait-3, &__trait-4, &__trait-5, &__trait-6, &__trait-7{
        width: 165px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -6px;
        left: -115px;
        transform: rotate(45deg);
        &-2 {
            top: 140px;
            left: -71px;
            transform: rotate(0);
            width: 65px;
        }
        &-3 {
            top: 250px;
            transform: rotate(-45deg);
            width: 140px
        }
        &-4 {
            top: 434px;
            left: 0;
            transform: rotate(90deg);
            width: 278px
        }
        &-5 {
            top: -6px;
            left: 240px;
            transform: rotate(-45deg);
            width: 174px;
        }
        &-6 {
            top: 140px;
            left: 295px;
            transform: rotate(0);
            width: 78px;
        }
        &-7 {
            top: 263px;
            transform: rotate(45deg);
            width: 140px;
            left: 258px;
        }
    }
    &__item {
        margin-top: 81px;
        width: 585px;
        min-height: 200px;
        border-radius: 40px;
        background: linear-gradient(169.74deg, #2F2E2E 14.9%, #C6C6C6 189.99%);
        box-shadow: 8px 8px 0 8px #EF891F;
        padding-left: 10px;
        &-title {
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 36.31px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #EF8618;
            text-align: center;
        }
        &-subtitle {
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 29.05px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #FFFFFF;
            margin-top: 31px;
        }
        &:last-child {
            margin: 80px auto;
        }
       
    }
    &__elements {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
       
    }
}